CONNECTIONS__SERVICE_CONNECTION__SETTINGS__CLIENTID=${{ APP_ID }}
CONNECTIONS__SERVICE_CONNECTION__SETTINGS__TENANTID=${{ TENANT_ID }}
CONNECTIONS__SERVICE_CONNECTION__SETTINGS__CLIENTSECRET=${{ CLIENT_SECRET }}
CONNECTIONS__SERVICE_CONNECTION__SETTINGS__ALT_BLUEPRINT_NAME=BLUEPRINT_CONNECTION

CONNECTIONS__BLUEPRINT_CONNECTION__SETTINGS__CLIENTID=${{ AGENT_BLUEPRINT_ID }}
CONNECTIONS__BLUEPRINT_CONNECTION__SETTINGS__TENANTID=${{ TENANT_ID }}
CONNECTIONS__BLUEPRINT_CONNECTION__SETTINGS__CLIENTSECRET=${{ AGENT_BLUEPRINT_SECRET }}
CONNECTIONS__BLUEPRINT_CONNECTION__SETTINGS__SCOPES=5a807f24-c9de-44ee-a3a7-329e88a00ffc/.default

AGENTAPPLICATION__USERAUTHORIZATION__HANDLERS__AGENTIC__SETTINGS__TYPE=AgenticUserAuthorization
AGENTAPPLICATION__USERAUTHORIZATION__HANDLERS__AGENTIC__SETTINGS__SCOPES=https://graph.microsoft.com/.default
AGENTAPPLICATION__USERAUTHORIZATION__HANDLERS__AGENTIC__SETTINGS__ALT_BLUEPRINT_NAME=BLUEPRINT_CONNECTION

CONNECTIONSMAP_0_AUDIENCE=${{ APP_ID }}
CONNECTIONSMAP_0_CONNECTION=SERVICE_CONNECTION

CONNECTIONSMAP_1_SERVICEURL=*
CONNECTIONSMAP_1_CONNECTION=BLUEPRINT_CONNECTION
