CONNECTIONS__SERVICE_CONNECTION__SETTINGS__CLIENTID=${{ AGENT_BLUEPRINT_PRINCIPAL_ID }}
CONNECTIONS__SERVICE_CONNECTION__SETTINGS__TENANTID=${{ TENANT_ID }}
CONNECTIONS__SERVICE_CONNECTION__SETTINGS__CLIENTSECRET=${{ AGENT_BLUEPRINT_SECRET }}
CONNECTIONS__SERVICE_CONNECTION__SETTINGS__SCOPES=https://graph.microsoft.com/.default

AGENTAPPLICATION__USERAUTHORIZATION__HANDLERS__AGENTIC__SETTINGS__TYPE=AgenticUserAuthorization
AGENTAPPLICATION__USERAUTHORIZATION__HANDLERS__AGENTIC__SETTINGS__SCOPES=https://graph.microsoft.com/.default

CONNECTIONSMAP_0_SERVICEURL=*
CONNECTIONSMAP_0_CONNECTION=SERVICE_CONNECTION
