connections__serviceConnection__settings__clientId=${{ APP_ID }}
connections__serviceConnection__settings__clientSecret=${{ CLIENT_SECRET }}
connections__serviceConnection__settings__tenantId=${{ TENANT_ID }}
connections__serviceConnection__settings__federatedClientId=${{ UMI_CLIENT_ID }}
connectionsMap__0__connection=serviceConnection
connectionsMap__0__serviceUrl=*
DEBUG=agents:*:error
