CONNECTIONS__SERVICE_CONNECTION__SETTINGS__CLIENTID=${{ APP_ID }}
CONNECTIONS__SERVICE_CONNECTION__SETTINGS__TENANTID=${{ TENANT_ID }}
CONNECTIONS__SERVICE_CONNECTION__SETTINGS__CLIENTSECRET=${{ CLIENT_SECRET }}
AZURE_CLIENT_ID=${{ APP_ID }}
AZURE_TENANT_ID=${{ TENANT_ID }}
AZURE_CLIENT_SECRET=${{ CLIENT_SECRET }}
COSMOS_DB_ENDPOINT=${{ COSMOS_DB_ENDPOINT }}
COSMOS_DB_DATABASE=${{ COSMOS_DB_DATABASE }}
COSMOS_DB_CONTAINER=${{ COSMOS_DB_CONTAINER }}
